 <!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/public/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> use this site to get your weather info</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id = "meassage-1"></p>
        <p id = "meassage-2"></p>

    </div>
    
    {{>footer}}

    <script src="./js/app.js"></script>

</body>

</html>